USE [master]
GO
/****** Object:  Database [TinyURL]    Script Date: 29-04-2026 22:56:03 ******/
CREATE DATABASE [TinyURL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TinyURL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TinyURL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TinyURL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TinyURL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinyURL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinyURL]
GO
/****** Object:  Table [dbo].[ShortUrls]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShortUrls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OriginalUrl] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[IsPrivate] [bit] NOT NULL,
	[ClickCount] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ShortUrls_Code]    Script Date: 29-04-2026 22:56:03 ******/
CREATE NONCLUSTERED INDEX [IX_ShortUrls_Code] ON [dbo].[ShortUrls]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShortUrls] ADD  DEFAULT ((0)) FOR [IsPrivate]
GO
ALTER TABLE [dbo].[ShortUrls] ADD  DEFAULT ((0)) FOR [ClickCount]
GO
ALTER TABLE [dbo].[ShortUrls] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUrl]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddUrl]
    @OriginalUrl NVARCHAR(MAX),
    @Code NVARCHAR(10),
    @IsPrivate BIT
AS
BEGIN
    INSERT INTO ShortUrls (OriginalUrl, Code, IsPrivate)
    VALUES (@OriginalUrl, @Code, @IsPrivate);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAll]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteAll]
AS
BEGIN
    DELETE FROM ShortUrls;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUrl]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteUrl]
    @Code NVARCHAR(10)
AS
BEGIN
    DELETE FROM ShortUrls WHERE Code = @Code;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByCode]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetByCode]
    @Code NVARCHAR(10)
AS
BEGIN
    UPDATE ShortUrls
    SET ClickCount = ClickCount + 1
    WHERE Code = @Code;

    SELECT * FROM ShortUrls WHERE Code = @Code;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPublicUrls]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPublicUrls]
AS
BEGIN
    SELECT * FROM ShortUrls WHERE IsPrivate = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUrl]    Script Date: 29-04-2026 22:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateUrl]
    @Code NVARCHAR(10),
    @OriginalUrl NVARCHAR(MAX),
    @IsPrivate BIT
AS
BEGIN
    UPDATE ShortUrls
    SET OriginalUrl = @OriginalUrl,
        IsPrivate = @IsPrivate
    WHERE Code = @Code;
END
GO
USE [master]
GO
